:root {
    --font-size: 1vw;
    --color-red: #eb0f4a;
    --color-blue: #7d9bc9;
    --color-green: rgb(163, 182, 163);
    --color-purple: #44111e;
}


html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: cal(var(--font-size)+14px);
}

h1, h2, h3 {
    color: var(--color-red);
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

h1 {
    text-transform:uppercase;
    font-weight: lighter;
    letter-spacing: .1rem;
    font-size: 3.5rem;
    background-image: linear-gradient(65deg, var(--color-red), var(--color-purple));
    background-clip: text;
    color: transparent;
}

h2 {
    font-size: calc(var(--font-size) + 32px);
}

h3 {
    font-size: 1.5rem;
}

site intro {
   font-size: 1.25rem;
}

nav {
    background-image: linear-gradient(75deg, var(--color-green), var(--color-blue));
}

nav ul::before {
    content: "\1f3b8";
    font-size: 3rem;
}

nav ul {
    padding-left: 0;
    width: calc(60% + 70px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
}

nav ul::after {
    content: "\1f3b8";
    font-size: 3rem;
}

nav a:hover::before {
   content:"\1f3b8 ";
}

nav a:link {
    color: darkgreen;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: rgb(250, 237, 219);
}

nav a:active {
    background-color:midnightblue;
}

nav a:visited {
    background-color: lightgrey;
}

h2::before {
    content: "\1f3b8";
    font-size: 4rem;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(80% - 40px);
    margin: 0 auto;
}

main {
    width: calc(60% - 40px);
    margin: 0 auto;
}

img {
    max-width: 95%;
}

footer {
    font-size: 18px;
    line-height: 1.1;
}