html {
   font-family:'Segoe UI', Tahoma, 
   Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-style: oblique;
    line-height: 1.25rem;
    color: #4c763b;
}

h1
h2,
h3 {
    font-weight: 300;
    color: rgb(76, 118, 59);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline wavy rgba(221, 226, 180, 0.8) 4px;
    text-underline-offset: 4px;
}

h2::before,
h2::after {
    content: "/1F4D6 ";
}

nav li {
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    letter-spacing: 1.25px;
    list-style-type: lower-latin;
    text-transform: lowercase;

}

nav,
header {
    text-align: center;
}

nav li::before
nav li::after {
    content: "/1f4d6 ";
}