/*
  font-family: "Shrikhand", serif;
  font-family: "Lato", sans-serif;
*/

html {
box-sizing: border-box;
font-family: "Lato", sans-serif;
font-size: 1.2rem;
line-height: 125%;
color:dimgrey;
}

* ,
* ::before ,
* ::after {
box-sizing: inherit;
}

nav {
    background-color:lightsteelblue;
}

nav li {
    display: inline; 
}

nav a {
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}


nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a :hover,
nav a :active {
    background-color:lightsteelblue;
    color: steelblue;
    text-decoration: underline;
}

main{
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3 {
   font-family: "Shrikhand", serif; 
   font-size: 1.7rem;
   color: burlywood;
}

h1 {
    font-size: 3rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: 3px 5px 3px #ccc
}

header {
    margin: 10%;
}

img{
    float: left;
    max-width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #ccc;
    shape-outside: circle(50%);
}

.rate {
    clear: both;
    margin-top: 1%;
    text-align: center;
    font-size: 1.5rem;
}

.emoji::after {
    content: "\1f370";
}

.details,
.ingredients,
.instructions,
.nutrition {
    width: 40%;
    float: left;
}

.details,
.instructions {
    margin-right: 16%;
    margin-left: 2%;
}

blockquote {
    clear:both;
    width: 300px;
    height: 300px;
    padding: 78px 16px 0 20px;
    border-radius: 50%;
    background-color: lightsteelblue;
    outline: dotted 6px steelblue;
    outline-offset: 10px;
    font-family: "Shrikhand", serif;
    font-size: 1rem;
    margin: 40px 0auto;
}

blockquote small {
    text-align: right;
}

footer{
    background-color: lightsteelblue;
    color: white;
    padding: 2% 0;
    margin-top: 10px;
}

footer a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

.col1,
.col2,
.col3 {
    display: block;
    float: left;
    width: 33%;
}

footer p {
    clear:both;
}

/* media queries go below */

@media (max-width: 810px) {
     html {
        line-height: 50%;
    }

    nav a {
        padding: 10px;
        letter-spacing: normal;
        font-size: .75rem;
    }

    nav ul {
        padding-left: 30px;
    }

    main{
        width: 90%;
    }

    h1 {
        font-size: 1.75rem;
        text-shadow: none;
        margin: 50px 50px 0auto;
    }

    h2 {
        font-size: 1.5rem;
    }

    img {
        float: none;
        max-width: 75%;
        margin-left: 20%
    }

    .rate {
        font-size: .9rem;
    }

    .details,
.ingredients,
.instructions,
.nutrition {
    width: 90%;
    float: none;
}

blockquote {
    max-width: 80%;
    max-height: 60%;
    font-size: 2rem;
}

footer {
.col1,
.col2,
.col3 {
    display: block;
    float: none;
    width:90%;
}
}
}

@media (max-width: 360px) {
    html {
        line-height: 135%;
    }

    nav a {
        padding: 8px;
        letter-spacing: normal;
        font-size: .75rem;
    }

    nav ul {
        padding-left: 10px;
    }

    main{
        width: 90%;
    }

    h1 {
        font-size: 1.5rem;
        text-shadow: none;
    }

    h2 {
        font-size: 1.2rem;
    }

    img {
        float: none;
        max-width: 60%;
        margin-left: 20%
    }

    .rate {
        font-size: .9rem;
    }

    .details,
.ingredients,
.instructions,
.nutrition {
    width: 90%;
    float: none;
}

blockquote {
    max-width: 80%;
    max-height: 60%;
}

footer {
.col1,
.col2,
.col3 {
    display: block;
    float: none;
    width:90%;
}
}
}
